/* Мобильная версия для экранов */
@media (max-width: 767px) {
  .centr {
    padding-left: 16px;
    padding-right: 16px;
  }

  body {
    overflow-x: hidden;
  }

  .hero-page {
    // padding: 60px 0 80px;
    // min-height: 100vh;
    display: flex;
    align-items: center;
    // padding-left: 17px;
  }

  .hero-page__content {
    align-items: center;
    text-align: center;
    // width: 90%;
  }

  .hero-page-title {
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 16px;
  }

  .hero-page-paragraf {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .hero-page-buton {
    padding: 16px 40px;
    font-size: 16px;
    width: 100%;
    max-width: 285px;
  }

  .hero-page__star--position-1 {
    // width: 35px;
    height: 35px;
    top: 15%;
    left: 10%;
  }

  .hero-page__star--position-2 {
    width: 21px;
    // height: 21px;
    top: 10%;
    left: 20%;
  }

  .hero-page__star--position-3 {
    display: none;
  }

  .hero-page__star--position-mobil {
    display: block;
    // width: 200px;
    // height: auto;
    top: 0%;
    right: 0;
    z-index: 0;
  }

  .hero-page__star--position-4 {
    width: 18px;
    // height: 18px;
    top: 85%;
    // bottom: 20%;
    left: 75%;
  }

  .hero-page__star--position-5 {
    width: 39px;
    // height: 41px;
    top: 85%;
    // bottom: 15%;
    left: 85%;
  }

  .marquee-container {
    padding: 16px 0;
  }

  .marquee-content {
    gap: 10px;
  }

  .marquee-content span {
    font-size: 16px;
  }

  .game-block {
    display: none;
  }

  .mini-game-block {
    padding: 0 16 60px;
  }

  .mini-game-block-container {
    padding: 40px 0 30px;
  }

  .mini-game-block-title {
    font-size: 40px;
    text-align: center;
  }

  .for-mini {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .for-mini-game {
    margin-bottom: 0;
  }

  .for-mini-game__item {
    flex-direction: column-reverse;
  }

  .for-mini-game__item_recers {
    flex-direction: column-reverse;
  }

  .for-mini-game__item-content {
    width: 100%;
    padding: 24px;
  }

  .for-mini-game__item-title-cart {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .for-mini-game__item-paragraf {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .for-mini-game__item-button {
    width: 100%;
    font-size: 16px;
    padding: 14px 20px;
  }

  .for-mini-game__item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .footer {
    height: 100px;
  }

  .footer-paragraf {
    font-size: 16px;
  }
}